@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif; 
}

body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url('download (1).jpg') no-repeat;
        background-size: cover;
        background-position: center;     
}

.container{
    margin: 0 15px;
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);

}
.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 450px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1); 
    display: none;
}
.form-box.active {
    display: block;
}
h2 {
    font-size: 34px;
    color: #8640dc;
    text-align: center;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 12px;
    height: 50px;
    background: #eee;
    border-radius: 6px;
    border: none;  
    outline: none;
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
}

button{
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover{
    background: #6884d3;

}

p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

p a {
     color: #1046db;
     text-decoration: none;
}
p a:hover {
    text-decoration: underline;
}

